body{
	background : url('img/gray_jean.png');
}

.text-center{
	text-align: center ;
}

#hero{
	background : url('img/hero_background.jpg');
	webkit-transform:scale(1)

}

#myPicture{
	width : 100% ;
	margin : auto ;
	-webkit-transition: -webkit-filter .3s;  
	-webkit-filter: grayscale(80%);
}

#myPicture:hover{
	-webkit-filter: grayscale(0%);
}

/* Projects */
.thumbnail{
	background : white;
}
.mainProject {
}

.mainProject img {
	width : 500px ;
	border : solid #EEE 1px;
}

/* Skills */


#skills{
	margin-bottom : 80px;
}

#skills h4{
	font-variant : small-caps;
	margin-top : 5px ;
	margin-bottom : 0;
}

#skills hr{
	margin : 5px ;
}

.skill h5{
	font-size : 1.6em ;
}

.skill{
	cursor : pointer;
}

.skill:hover h5{
	font-size : 2em ;
}

.skillSet{
	opacity : 0.5 ;
}

.skillSet:hover{
	opacity : 1 ;
}

/* CV */

#cv h2{
	text-align: center ;
}

#cv h4{
	margin-top : 22px;
	text-align: right; 
	margin-left : 5px;
}

#cv p {
	text-align : justify;
	padding-left : 10px;
	padding - right : 10px;
}

#cv .row{
	height : 180px ;
}

#cv .row:nth-of-type(2){
	opacity : 0.8 ;
}

#cv .row:nth-of-type(3){
	opacity : 0.6 ;
}

/* skills */
